:root {
    --jet: #303136;
    --black-coral: #5C5D67;
    --cultured: #F4F4F5;
    --opal: #95B2B0;
    --tea-green: #C6EBBE;
    --cinnabar: #D64933;
    --yellow-orange: #FFB140;
}

.privacy-statement{
    color: var(--black-coral);
    font-size: small;
    text-align: center;
}