---
layout: home
title: "Home"
---

<section>
    <h2 style="text-align:center">Posts</h2>
    {% for post in paginator.posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h4 class="post-title">
                {{ post.title }}
            </h4>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
            <div class="post-content-preview">
                {{ post.content | strip_html | truncate:200 }}
            </div>
        </a>
        <p class="post-meta">
            Posted on {{ post.date | date: "%B %-d, %Y" }}
        </p>
        <div class="tags">
            {% for tag in post.tags %}
            <a class="tag post-tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        
    </div>
    <hr>
    {% endfor %}

    <!-- Pager -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a class="previosu" href="{{ paginator.previous_page_path | relative_url }}">&larr; Older Posts</a>
        {% else %}
            <span class="previous">Page 1</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <p>{{ page }}</p>
            {% elsif page == 1 %}
            <a href="{{ '/' | relative_url }}">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a class="next" href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
        {% else %}
            <span class="next">End</span>
        {% endif %}
    </div>
    {% endif %}
</section>

{% if site.featured-tags %}
<section>
    <h5>FEATURED TAGS</h5>
    <div class="tags">
        {% for tag in site.tags %}
            {% if tag[1].size > {{site.featured-condition-size}} %}
                <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                    {{ tag[0] }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</section>
<hr>
{% endif %}