---
title: Tags
layout: default
nav: "Tags"
---

<div class="tag-container">
	<h1>Tags</h1>
	<div id='tag_cloud' class="tags">
		<i class="ico-tag"></i>
		{% for tag in site.tags %}
		<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}" class="post-tag">{{ tag[0] }}</a>
		{% endfor %}
	</div>

	<h2>Posts by Tag</h2>
	{% for tag in site.tags %}
	<div class="one-tag-list">
		<div class="tag-subcontainer" id="{{ tag[0] }}">
			<span class="post-tag-head">{{ tag[0] }}</span>
		</div>
		{% for post in tag[1] %}
		<div class="tag-post-preview">
			<a href="{{ post.url | prepend: site.url }}" class="post-link">
				<h4 class="post-title">{{ post.title }}</h4>
			</a>
			<p class="tag-post-meta">
				Posted on {{ post.date | date: "%B %-d, %Y" }}
			</p>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
