---
layout: default
---

<!-- Main Content -->
<div class="container">
    <div class="row top-pad">
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-1 about-contaner">
            test container 1
        </div>
        <div class="col-lg-6 col-md-8 links-contaner">
            test container 2
        </div>
    </div>
    <hr>
	<div class="row">
        <!-- Content from index.html -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
            {{ content }}
        </div>
	</div>
</div>
