---
layout: default
---

<!-- Main Content -->
<div class="container">
    <div class="row top-pad">
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-0 align-self-center about-contaner">
            <div class="home-img">
                <!-- .. required to maintain image on additional pages -->
                <img src="../img/github-icon.png" width="275px"/>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 links-contaner">
            <p>
                I have a dual Bachelor's in Computer Science and Mathematics with a minor in Statistics.
                I will continue my education with a Master's in Statistics at the University of Minnesota in September
                ---participating in the DSMMA Program.
            </p>
            <p>
                I write about machine learning, mathematical statistics, 
                esoteric languages, data ethics, and anything else that interests me.
            </p>
            <p>
                I don't have social media for the most part, so check out my GitHub or shoot me an email 
                if you want to connect!
            </p>
        </div>
        <div class="col-lg-offset-2 col-md-offset-1 col-md-11 col-lg-10">
            <p><b>Socials</b></p>
        </div>
        <div class="col-lg-offset-2 col-md-offset-1 col-md-5 col-lg-4">
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-sm">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span> {{ site.github_username }} on GitHub
            </a>
        </div>
        <div class="col-md-5 col-lg-4">
            <a target="_blank" href="mailto:{{ site.masked_email }}?subject=Replace+this+subject+with+your+own">
                <span class="fa-stack fa-sm">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                {{ site.masked_delim_email }}
            </a>
        </div>
        <div class="col-lg-offset-2 col-md-offset-1 col-md-11 col-lg-10">
            <p><b>Organizations & Causes</b></p>
        </div>
        <div class="col-lg-offset-2 col-md-offset-1 col-md-5 col-lg-4">
            <ul>
                <li><a target="_blank" href="https://www.justmathematicscollective.net/index.html">Just Mathematics Collective</a></li>
                <li><a target="_blank" href="https://www.justmathematicscollective.net/nsa_statement.html">NSA Statement</a></li>
                <li><a target="_blank" href="https://blogs.ams.org/inclusionexclusion/">inclusion/exclusion</a></li>
            </ul>
        </div>
        <div class="col-md-5 col-lg-4">
            <ul>
                <li><a target="_blank" href="https://hrdag.org/">Human Rights Data Analysis Group (HRDAG)</a></li>
                <li><a target="_blank" href="https://docs.google.com/document/d/1P4xAUa9qfEbeCjurGOdJH3dW2JErVRJZ1K9DLAT8uYE">Readings on Ethics & Mathematics</a></li>
            </ul>
        </div>
    </div>
    <hr>
	<div class="row">
        <!-- Content from index.html -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
            {{ content }}
        </div>
	</div>
</div>
