---
layout: default
---

<!-- Post Header -->

<div class="post-container">
<header>
    <div class="post-heading">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="post-subtitle">{{ page.subtitle }}</h2>{% endif %}
        
        <div class="meta-container">
            <div class="tags">
                {% for tag in page.tags %}
                <a class="post-tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
        </div>
    </div>
    <!-- <div class="intro-header"><img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"></div> -->
</header>

<!-- Post Content -->
<article>
    {% if page.lede %}<div class="lede">
        {{ page.lede }}
    </div>{% endif %}

    {{ content }}
</article>

    <div class="pager">
        {% if page.next.url %}
        <span class="pagination-next active"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Post</a><br>{{page.next.title}}<br><p>{{page.next.date | date: "%B %-d, %Y" }}</p></span>
        {% else %}
        <span></span>
        {% endif %}
        {% if page.previous.url %}
        <span class="pagination-prev active"><a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">Older Post &rarr;</a><br>{{page.previous.title}}<br><p>{{page.previous.date | date: "%B %-d, %Y" }}</p></span>
        {% else %}
        <span></span>
        {% endif %}
    </div>
</div>